<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-gray">South</h1>
    <h2 class="text-gray">BaseBall Scorer</h2>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to 'Sign in', new_user_path,class: 'btn btn-block btn-gray' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to 'log in', login_path,class: 'btn btn-block btn-gray' %>
      </div>
    </div>
  </div>
</div>
