.text-gray {
  color: #8DA4C0;
  font-family: 'Bree Serif';
  display: block;
}

.text-login {
  margin-left: 20%;
}

.btn-submit {
  width: 60%;
  height: 50px;
  text-align: center;
  margin: 30px auto 30px auto;
  font-size: 14px;
  border-radius: 25px;
}

.btn-gray {
  color: #fff;
  background-color: #8DA4C0;
  margin-bottom: 60px;
  font-size: 20px;
  font-family: 'Domine';
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top.jpg');
  background-position: 60px 280px;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;

}

.top-hero-container {
  padding-top: 300px;
  h1 {
    font-weight: bold;
    font-size: 150px;
    margin-bottom: 0px;
    border-bottom: 1px solid #8DA4C0;
  }

  h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

form-control {
  height: 45px;
}

.text-title {
  border-bottom: 1px solid #8DA4C0;
  color: #8DA4C0;
  font-family: 'Domine';
  font-size: 50px;
  padding-top: 100px;
}

.bottom-wrapper {
  width: 100vw;
  height:100vh;
  background-image: image-url('bottom.jpg');
  background-position: 60px 280px;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;

  .bottom-container{
    padding-top: 160px;

    .form-group {
      margin-bottom: 30px;
    }

    .btn-submit {
    width: 60%;
    height: 50px;
    text-align: center;
    margin: 60px auto 30px auto;
    font-size: 14px;
    border-radius: 25px;
    }
  }
}

.alert {
  margin-top: 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.team-index-container {
  margin-top: 50px;
  margin-right: 0px;


  img {
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    margin-left: 0px;
  }

  .team-name {
    font-size: 30px;
    color: #8DA4C0;
    width: 400px;
    height: 150px;
    line-height: 150px;
    display: block;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  .team-page-entrance {
    font-size: 30px;
    color: #fff;
    width: 100px;
    height: 100px;
    margin: 25px;
    background-color: #becbdb;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-family: 'Bree Serif';
  }

}

.team-create-entrance {
  width: 150px;
  height: 50px;
  margin: 60px 20px 0px 600px;
  background-color: #becbdb;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.team-page-title {
  border-bottom: 1px solid #8DA4C0;
  color: #8DA4C0;
  font-family: 'Domine';
  font-size: 50px;
  padding-top: 40px;
}

.form-uniform-number {
    display: inline;
    width: 10%;
    height: 50px;
    margin-right: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-member-name {
    display: inline;
    width: 65%;
    height: 50px;
    margin-right: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-member {
  margin: 90px 10px 30px 10px;
}

.btn-member {
  display: inline;
  width: 15%;
  height: 50px;
  text-align: center;
  font-size: 22px;
  border-radius: 4px;
}

.member-index-title {
  border-bottom: 1px solid #8DA4C0;
  color: #8DA4C0;
  font-family: 'Domine';
  font-size: 40px;
}

.myteam-container {
  margin-top: 0px;
  margin-right: 0px;


  img {
    width: 750px;
    height: 420px;
    display: block;
    float: left;
    margin: 0px auto 0px auto;
    border: 10px groove #becbdb;
  }

  .myteam-button {
    width: 150px;
    height: 50px;
    background-color: #ffdb99;
    color: #fff;
    font-size: 20px;
    font-family: 'Domine';
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
  }

  .button-margin {
    margin-left: 435px;
    margin-right: 10px;
  }
}
