<div class="bottom-wrapper">
  <div class="container">
    <div class="row">
      <button class="text-right team-create-entrance">
        <%= link_to "チームトップへ", "#" %>
      </button>
      <h1 class="text-left team-page-title">メンバー一覧</h1>
      <% @members.each do |member| %>
        <div class="col-md-offset-4 col-md-4 team-index-container">
          <h2 class='uniform-number'>
            <%= member.uniform_number %>
          </h2>
          <h2 class='member-name'>
            <%= member.member_name %>
          </h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
